<!DOCTYPE html>
<html lang="en" ng-app="NSop">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>

    <link rel="stylesheet" href="src/css/styles.css"/>

    <!--script src="src/js/lib/jquery-3.1.0/jquery.min.js"></script>
    <script src="src/js/lib/angularjs-1.5.7/angular.min.js"></script>
    <script src="src/js/lib/angularjs-1.5.7/angular-route.min.js"></script-->

    <script src="src/js/lib/jquery-2.1.1/jquery.min.js"></script>
    <script src="src/js/lib/angularjs-1.2.26/angular.min.js"></script>
    <script src="src/js/lib/angularjs-1.2.26/angular-route.min.js"></script>

    <script src="src/js/app/main.js"></script>
    <script src="src/js/app/dashboard/DasboardController.js"></script>

    <title>NShop</title>
</head>
<body>
<header>
    Header
    <nav>nav</nav>
</header>
<section id="content">
    <div ng-view></div>
</section>
<footer>
    Fooher
</footer>
</body>
</html>