<h2>Products</h2>
<p>
    <button ui-sref="admin.products.detail({productId: 'create'})">Add product</button>
</p>
<br />
<div ui-view=""></div>
<br />
<table>
    <colgroup>
        <col style="min-width: 100px" />
        <col style="min-width: 100px" />
        <col style="min-width: 50px" />
        <col style="min-width: 116px" />
    </colgroup>
    <thead>
    <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Price</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="(index, product) in products">
        <td><!--img src="/data/images/{{product.img}}" alt="{{product.name}}" /--></td>
        <td>{{product.data.name}}</td>
        <td>{{product.data.price}}</td>
        <td>
            <button ui-sref="admin.products.detail({productId: product.data._id})">Edit</button>
            <button ng-click="removeProduct(product)">Delete</button>
        </td>
    </tr>
    </tbody>
</table>
<br />